.Shops {
  width: 180px;
  margin-right: 15px;
}
.ShopsList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.ShopsList__Item {
  margin-bottom: 15px;
}
.ShopsList__Button {
  width: 100%;
  height: 50px;
}
