.Form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.Form__Control {
  margin-bottom: 10px;
  width: 400px;
}
.Form__Button {
  width: 140px;
}
